
<div id="microbiome">
    <div id="definition">
        <h1>genki.</h1>
        <p class="italic">(n. /ɡˈɛŋki/)</p>
        <p>
            genki is a japanese word that means the original state of living, 
            or the spirit, mind, energy, and mood of a person. It is often used
            to describe someone who is in good spirits and young at heart.
        </p>
    </div>
    
    <div id="info">
        <h1>microbiome.</h1>
        <p id="hiw-sub">
            the microbiome is the diverse community of microorganisms living in 
            and on our bodies.
        </p>
        <img src="../../../assets/how.png">
        <p class="quote">
            “Your gut microbiome regulates your skin health, brain health, 
            metabolic health and gut health - influencing how we look and feel 
            - so it's important that we look after it.”
            <br>
            - Carla Oates
        </p>
    </div>
    
    <div id="cards" class="container">
        <div class="card" id="card1" onmouseenter="onHover(1)" onmouseleave="onLeave(1)">
            <img src="../../../assets/walnuts.png">
            <img class="fade" src="../../../assets/fade.png">
            <img class="text" src="../../../assets/think.png">
            <img class="black" style="visibility: hidden;" src="../../../assets/black-card.png">
        </div>
        
        <div class="card" id="card2" onmouseenter="onHover(2)" onmouseleave="onLeave(2)">
            <img src="../../../assets/figs.png">
            <img class="fade" src="../../../assets/fade.png">
            <img class="text" src="../../../assets/eat.png">
            <img class="black" style="visibility: hidden;" src="../../../assets/black-card.png">
        </div>
        
        <div class="card" id="card3" onmouseenter="onHover(3)" onmouseleave="onLeave(3)">
            <img src="../../../assets/cucumbers.png">
            <img class="fade" src="../../../assets/fade.png">
            <img class="text" src="../../../assets/look.png">
            <img class="black" style="visibility: hidden;" src="../../../assets/black-card.png">
        </div>
        
        <div class="card" id="card4" onmouseenter="onHover(4)" onmouseleave="onLeave(4)">
            <img src="../../../assets/papaya.png">
            <img class="fade" src="../../../assets/fade.png">
            <img class="text" src="../../../assets/do.png">
            <img class="black" style="visibility: hidden;" src="../../../assets/black-card.png">
        </div>
    </div>
</div>

<div id="how-it-works">
    <h1>how it works.</h1>
</div>

<div id="results">

</div>

<div id="plans">

</div>

<div id="about us">

</div>