<!-- Login for Be Plus plan -->
<div id="beplus" class="main">
    <div id="form">
        <p class="plain">log in to your Be Plus account</p>
    
        <form>
            <label for="email">e-mail</label><br>
            <input type="text" id="email" name="email" placeholder="johndoe@email.com"><br><br>
            <label for="password">password</label><br>
            <input type="password" id="password" name="password" placeholder="·······"><br><br>
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">remember me</label><br><br>
            <input type="submit" value="log in">
        </form>

        <div id="links">
            <div class="link" style="text-align: left;">
                <a >i forgot my password</a>
            </div>
            <div class="link" style="text-align: right;">
                <a >create an account</a>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>