$off-white: #F2F1F1;
$dark-red: #5B1B17;

@font-face {
    font-family: 'Zilla Slab Medium';
    src: url("../../../assets/Fonts/ZillaSlab-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url("../../../assets/Fonts/Montserrat-VariableFont_wght.ttf");
}

html {
    height: 100%;
    background-image: url("../../../assets/blueberries.png");
}