<div id="divName" class="main" style="display:;">
    <p class="title">first of all, what's your name?</p>

    <div id="nameForm">
        <form id="name" autocomplete="off">
            <div id="data">
                <input type="checkbox" name="data">
                <label for="data" id="dataLabel">
                    by ticking this box, i agree that the
                    personal data i communicate to genki will be processed
                    to create my personalized genki food list.
                </label><br><br>
            </div>
            <input #name type="text" name="name" placeholder="write here..." (change)="setName(name.value)"><br><br>
        </form>
        <div class="buttons">
            <button class="button" onclick="showNext('divName', 'divKnow')">confirm</button>
        </div>
    </div>
</div>

<div id="divKnow" class="main" style="display:none;">
    <p class="title">
        {{name.value}}, about the microbiome, you'd say...
    </p>
    <div class="buttons">
        <button class="button" id="informed" onclick="showNext('divKnow', 'divInformed')"><b>i'm informed</b> <br> i know more than the average person</button>
        <button class="button" id="curious" onclick="showNext('divKnow', 'divCurious')"><b>i'm curious</b> <br> i want to know more about it</button>
        <button class="button" id="skeptic" onclick="showNext('divKnow', 'divSkeptic')"><b>i'm skeptic</b> <br> i'm not convinced yet</button>
    </div>
</div>

<div id="divInformed" class="main" style="display:none;">
    <p class="title">
        wow {{name.value}}, you know so much! genki will still show you <b><i>something new ;)</i></b>
    </p>

    <div class="buttons">
        <button class="button" (click)="goToPage('/info')">continue</button>
    </div>
</div>

<div id="divCurious" class="main" style="display:none;">
    <p class="title">
        perfect, {{name.value}}! let's <b><i>satisfy your curiosity ;)</i></b>
    </p>

    <div class="buttons">
        <button class="button" (click)="goToPage('/info')">continue</button>
    </div>
</div>

<div id="divSkeptic" class="main" style="display:none;">
    <p class="title">
        don't worry, {{name.value}}! the genki experience has been <b><i>designed to convince</i></b> even the most skeptic ;)
    </p>

    <div class="buttons">
        <button class="button" (click)="goToPage('/info')">continue</button>
    </div>
</div>

<div id="footer"></div>