<div id="divName" class="main" style="opacity: 0;">
    <p class="title">first of all, what's your name?</p>

    <div id="nameForm">
        <form id="name">
            <div id="data">
                <input type="checkbox" name="data">
                <label for="data" id="dataLabel">
                    by ticking this box, i agree that the
                    personal data i communicate to genki will be processed
                    to create my personalized genki food list.
                </label><br><br>
            </div>
            <input type="text" name="name" placeholder="write here..."><br><br>
            <input type="submit" value="confirm">
        </form>
    </div>
</div>

<div id="divBeplus" class="main">
    <p class="title">
        [name] in your Be Plus experience, you already completed:
    </p>
    <div class="buttons">
        <div class="button">genomic test</div>
        <div class="button">habits test</div>
    </div>

    <p class="title">
        complete the <b>microbiome online test</b> to get a full
        customized experience
    </p>
    <div class="buttons">
        <div class="button">start now</div>
    </div>
</div>

<div id="footer"></div>