<mat-toolbar>
    <mat-toolbar-row>
        <div class="header_container">
            <!-- TITLE -->
            <div class="header_title">
                <a routerLink="/" routerLinkActive="active"><img id="logo" src="../../../assets/gWhite.png"></a>
            </div>

            <!-- MENU -->
            <div class="header_menu">
                <div class="header_button">
                    <a routerLink="/microbiome" routerLinkActive="active">microbiome.</a>
                </div>
                <div class="header_button">
                    <a routerLink="/how-it-works" routerLinkActive="active">how it works.</a>
                </div>
                <div class="header_button">
                    <a routerLink="/results" routerLinkActive="active">results.</a>
                </div>
                <div class="header_button">
                    <a routerLink="/about-us" routerLinkActive="active">about us.</a>
                </div>
                <div class="header_button">
                    <a routerLink="/become-a-partner" routerLinkActive="active">become a partner.</a>
                </div>
                <div class="header_button">
                    <a routerLink="/i-d" routerLinkActive="active">i+d.</a>
                </div>

                <!-- LOGIN -->
                <div class="header_login">
                    <a routerLink="/plans" routerLinkActive=""><mat-icon>account_circle</mat-icon> log in.</a>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>