$off-white: #F2F1F1;
$off-white-60: #F2F1F199;
$dark-red: #5B1B17;
$light-blue: #8AA4D3;
$light-blue-60: #8AA4D399;

@font-face {
    font-family: 'Zilla Slab Medium';
    src: url("../../../assets/Fonts/ZillaSlab-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url("../../../assets/Fonts/Montserrat-VariableFont_wght.ttf");
}

.main {
    height: 94.9vh;
    background-color: $off-white;
    margin: 0.9em auto 0 auto;
    padding-top: 7em;
    position: absolute;
    width: 100%;
    vertical-align: super;
    background-image: url("../../../assets/blueberries.png");
}

.title {
    font-family: "Montserrat";
    font-size: 34px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 6em;
    color: $off-white;
    width: 70%;
    margin: auto;
}

.buttons {
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 5em;
    
    .button {
        font-family: "Montserrat";
        display: inline-block;
        margin: 0 3em;
        padding: 1em;
        border-radius: 15px;
        border: 1px solid $off-white;
        width: 9em;
        font-size: 22px;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.4s;
        background-color: rgba(0, 0, 0, 0);
        color: $off-white;
    }
    
    .button:hover {
        background-color: $off-white;
        color: $dark-red;
        border: 1px solid $dark-red;
    }
    
    .button:active {
        background-color: $off-white;
    }
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 7em;
    width: 100%;
    background-color: $off-white;
}
