<div id="info1" class="main" style="display:;">
    <div class="title">
        the <b>microbiome</b> is the group of microorganisms that live in your body. 
        but be cautious! It is <b>easily modified</b> by your <b>habits, 
        nutrition...</b>
    </div>

    <div class="buttons">
        <button class="button" onclick="showNext('info1', 'info2')">continue</button>
    </div>
</div>

<div id="info2" class="main" style="display:none;">
    <div class="title">
        getting the <b>right</b> microbiome for you can be difficult, but it 
        will enhance your <b>well-being in groundbreaking ways</b>. 
    </div>

    <div class="buttons">
        <button class="button" onclick="showNext('info2', 'info3')">continue</button>
    </div>
</div>

<div id="info3" class="main" style="display:none;">
    <div class="title">
        for example: studies show that increasing your levels of
        <i>l. reuteri</i> may help you to have more success in love relations!
    </div>
    
    <div class="buttons">
        <button class="button" onclick="showNext('info3', 'info4')">continue</button>
    </div>
</div>

<div id="info4" class="main" style="display:none;">
    <div class="title">
        In genki, we use <b>technology</b> to help you find your ideal 
        microbiome according to your goals. Unlocking your full wellness 
        potential by providing <b>personalized recommendations on daily habits 
        and nutrition.</b>
    </div>

    <div class="buttons">
        <button class="button" (click)="goToPage('/questionnaire')">continue</button>
    </div>
</div>

<div id="footer"></div>